*, html {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#header-wrapper {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 20;
}

#header-menu {
    font-family: 'Comfortaa', sans-serif;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.header-link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin-left: .25em;
    font-size: 12px;
    color: black;
}

#content-wrapper {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

#welcome-section {
    color: white;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #C7E0E0;
}

#welcome-title {
    font-family: 'Catamarah', sans-serif;
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .75em;
    line-height: 2em;
    margin-left: .75em;
}

#welcome-intro-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 10;
}

#welcome-image-container {
    max-width: 960px;
    min-width: 80%;
    height: 100%;
    z-index: 1;
}

#welcome-image-container img {
    position: absolute;
    height: auto;
}

@media screen and (max-width: 600px) {
    #welcome-image-container img {
        visibility: hidden;
    }
}

#welcome-image-1 {
    width: 12%;
    left: 42%;
    top: 23%;
}

#welcome-image-2 {
    width: 10%;
    left: 40%;
    top: 60%;
}

#welcome-image-3 {
    width: 10%;
    left: 60%;
    top: 20%;
}

#welcome-image-4 {
    width: 10%;
    left: 25%;
    top: 66%;
}

#welcome-image-5 {
    width: 10%;
    left: 22%;
    top: 30%;
}

#welcome-image-6 {
    width: 15%;
    left: 60%;
    top: 55%;
}

.section-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 28px;
    font-weight: 700;
    max-width: 960px;
    min-width: 100%;
    text-transform: uppercase;
    letter-spacing: .40em;
    text-align: center;
    margin: 20px auto 100px .40em;
}

#about-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

#about-wrapper { 
    font-family: 'Comfortaa', sans-serif;
    height: 100%;
    max-width: 960px;
    display: block;
}

#about-info {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    line-height: 150%;
    font-size: 15px;
}

#about-image-wrapper {
    max-width: 960px;
    min-width: 100%;
    height: 250px;
    text-align: center;
}

#about-image {
    max-width: 100%;
    max-height: 250px;
}


#project-section {
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EBEAEB;
}

#project-container {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.project-node {
    text-align: center;
    height: 350px;
    width: 350px;
    overflow: hidden;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    position: relative;
}

.project-node-desc {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.project-node-desc:hover {
    opacity: 1;
    transition: opacity 0.35s ease-in-out;
}

.project-node-desc-container {
    text-align: center;
    width: 90%;
    height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-node-desc-title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .25em;
    margin-left: .25em;
    margin-bottom: 10px;
    font-size: 20px;
}

.project-node-desc-tech {
    text-transform: uppercase;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.project-node-desc-p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #A4A2A4;
}

.project-node-desc-links {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-direction: row;
}

.project-node-desc-link-img {
    max-width: 45px;
    max-height: 45px;
    opacity: 80%;
    
}

#blog-section {
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
}

#blog-container {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 960px;
    margin: 0 auto;
}

#blog-title {
    font-family: 'Comfortaa', sans-serif;
    max-width: 960px;
    min-width: 100%;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin-bottom: 30px;
    margin-left: .25em;
    margin-right: auto;
}

.blog-node {
    height: 225px;
    width: 225px;
    margin-bottom: 30px;
}

.blog-node-image {
    max-width: 225px;
    max-height: 225px;
}

.blog-node-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225px;
}

.blog-node-tag {
    background-color: blue;
    color: white;
}

#contact-section {
    height: 100%;
    width: 100%;
    display: block;
    background-color: #C7E0E0;
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact-container {
    font-family: 'Comfortaa', sans-serif;
    display: block;
    max-width: 960px;
    min-width: 100%;
    margin: 0 auto;
}

.contact-node {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.contact-node-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin-left: .25em;
    font-size: 15px;
}

.contact-node-links-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-node-link {
    max-width: 50px;
    max-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#footer {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #212227;
}

#footer a {
    text-decoration: none;
    color: white;
}
